.adamyi-cv-media {
    background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.adamyi-cv-button {
    width: 100%;
}
